@import "tailwindcss";

body {
  background-color: #fafafa;
}

.fadeIn {
  animation: fadeIn 0.3s backwards;
}

.showHide {
  animation: showHide 0.8s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.circleToSquare {
  animation: circleToSquare 8s infinite;
}

.circleToSquare2 {
  animation: circleToSquare 8s infinite;
}

@keyframes circleToSquare {
  0% {
    border-radius: 50%; /* Inicia como círculo */
    transform: rotate(0deg); /* Opcional: adiciona rotação */
    //background-color: #ffc107; /* Âmbar */
    background-color: #f44336; /* Vermelho */
  }
  25% {
    border-radius: 30%; /* Transiciona para quadrado */
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    transform: rotate(180deg); /* Opcional: continua a rotação */
    //background-color: #f44336; /* Vermelho */
    background-color: rgb(213, 213, 213);
  }
  100% {
    border-radius: 50%;
    transform: rotate(360deg);
    background-color: #4caf50; /* Verde */
  }
}

@keyframes showHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
