@import 'tailwindcss';

body {
  background-color: #fafafa;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.fadeIn {
  animation: fadeIn 0.3s backwards;
}

.showHide {
  animation: showHide 0.8s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.circleToSquare {
  animation-name: circleToSquare;
  animation-duration: 8s; /* Defina a duração */
  animation-iteration-count: infinite; /* Se quiser repetir */
}

@keyframes circleToSquare {
  0% {
    border-radius: 50%; /* Inicia como círculo */
    transform: rotate(0deg); /* Opcional: adiciona rotação */
    //background-color: #ffc107; /* Âmbar */
    background-color: #f44336; /* Vermelho */
  }
  25% {
    border-radius: 30%; /* Transiciona para quadrado */
    transform: rotate(180deg); /* Opcional: continua a rotação */
    //background-color: #f44336; /* Vermelho */
    //border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color: #d5d5d5;
  }
  100% {
    border-radius: 50%;
    transform: rotate(360deg);
    background-color: #4caf50; /* Verde */
  }
}

@keyframes showHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
